.VideoTimeline {
    width: 100%;
    height: 100%;
    background: #6a6b6b 0% 0% no-repeat padding-box;

    border-radius: 5px;
    position: relative;
    user-select: none;

    &__green {
        // width: 100%;
        height: 100%;
        padding: 2px;
        // border-radius: 5px;
        background: #28714f 0% 0% no-repeat padding-box;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        cursor: grab;
    }

    &__edge {
        width: 7px;
        height: 100%;
        position: absolute;
        top: 0;
        background-color: white;
        cursor: e-resize;

        &--left {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            left: 0;
            transform: translateX(-70%);
        }
        &--right {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            right: 0;
            transform: translateX(70%);
        }
    }

    &__placeholder {
        width: 42px;
        height: 100%;
        border-radius: 3px;
        background-image: url("../../../assets/images/imgPlaceholder.png");
        background-size: cover;
    }

    &__tracker {
        position: absolute;
        top: -25%;
        width: 2px;
        height: 48px;
        background: #ffffff 0% 0% no-repeat padding-box;
        cursor: e-resize;

        > :first-child {
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: #ffffff 0% 0% no-repeat padding-box;
            position: absolute;
            top: -2px;
            left: -100%;
            z-index: 1;
        }
        > :last-child {
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: #ffffff 0% 0% no-repeat padding-box;
            position: absolute;
            bottom: -2px;
            left: -100%;
            z-index: 1;
        }
    }
}

.AudioTimeline {
    width: 100%;
    height: 100%;
    background: #242625 0% 0% no-repeat padding-box;

    border-radius: 5px;
    position: relative;
    padding: 2px;

    &__tracker {
        position: absolute;
        top: -25%;
        width: 2px;
        height: 48px;
        background: #ffffff 0% 0% no-repeat padding-box;
        cursor: e-resize;

        > :first-child {
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: #ffffff 0% 0% no-repeat padding-box;
            position: absolute;
            top: -2px;
            left: -100%;
            z-index: 1;
        }
        > :last-child {
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: #ffffff 0% 0% no-repeat padding-box;
            position: absolute;
            bottom: -2px;
            left: -100%;
            z-index: 1;
        }
    }
}

.TimelineHeader {
    &__lines {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        gap: 3px;
        justify-content: space-between;
    }

    &__line {
        width: 0px;
        height: 10px;
        border: 1px solid #707070;
        position: relative;

        &--long {
            border-color: #18c96a;
            height: 17px;
        }
    }

    &__number {
        position: absolute;
        top: -150%;
        left: -100%;
        transform: translateX(-50%);
        font: normal normal normal 12px/16px Cerebri Sans;
        color: #bababa;
    }
}

@media screen and (max-width: 1180px) {
    .TimelineHeader {
        &__number {
            display: none;
        }
    }
}

@media screen and (max-width: 700px) {
    .TimelineHeader {
        &__line {
            display: none;
        }
    }
}
