@import "../../../../styles/mixins";

.SideCard {
    @include play_tiles();

    width: 100%;
    height: 100%;
    padding: 40px 19.5px 49px 15.5px;

    background: #080808 0% 0% no-repeat padding-box;
    color: #ffffff;
    border-radius: 10px;
}

.cardTitle {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    svg {
        cursor: pointer;
    }

    &--song {
        margin-bottom: 12.5px;
    }
}

.desc {
    font: normal normal normal 12px/16px Cerebri Sans;
    letter-spacing: 0px;
    color: #bababa;
}

.videos {
    margin-top: 1px;
}

.btn {
    margin-top: 17px;
    padding-left: 10.5px;
}

.videoItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;

    border-bottom: 1px solid #161515;
    padding-top: 21px;
    padding-bottom: 18px;
    padding-left: 10.5px;
    cursor: pointer;

    &:hover {
        background-color: #242625;
    }

    & > :first-child {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

    &--song {
        padding-bottom: 22.5px;
        padding-top: 20.5px;
    }

    &--song &__thumbnail {
        width: 40px;
        height: 40px;
        min-width: 40px;
    }

    &--song &__info {
        gap: 3px;
    }

    &__thumbnail {
        width: 76px;
        min-width: 76px;
        // width: max-content;
        height: 74px;
    }
    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 6px;
    }

    &--playing {
        margin-bottom: 0;

        &:hover {
            background-color: transparent;
        }
        // background-color: green;
    }

    svg {
        cursor: pointer;
    }
}

h3 {
    color: #ffffff !important;
}

.tasks {
    margin-top: 2.5rem;

    &__blocks {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;
        margin-top: 1rem;

        > * {
            background: #080808 0% 0% no-repeat padding-box;
            width: 100%;
            height: 7rem;
            border-radius: 0.5rem;
            cursor: pointer;

            display: grid;
            place-items: center;
        }
        > .active {
            background: #1a1a1a 0% 0% no-repeat padding-box;
        }
    }
}

.my-dropdown {
    background-color: #080808 !important;

    .ant-select-item {
        color: #ffffff !important;
    }
}

.waveDiv {
    padding-bottom: 12.5px;
    border-bottom: 1px solid #161515;
}

@media screen and (max-width: 1180px) {
    .SideCard {
        display: none;
    }
}
