.VideoPlaceholder {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    position: relative;

    &__play {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000000a8;
        display: grid;
        place-items: center;
        border-radius: 5px;
    }

    img {
        width: 100%;
        height: 100%;
        min-width: 100%;
        min-height: 100%;
        // height: 100%;
    }
}
